.header {
  background-color: #3879a5;
  color: #ecf0f1;
  margin-bottom: 2rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
  max-width: 1280px;
  margin: auto;
}
.showCartButton {
  background: transparent;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
  display: flex;
  gap: 0.8rem;
}
.cartIconNum {
  position: relative;
}
.number {
  border: 0.5px solid white;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0.7rem;
  background-color: red;
  line-height: 1.6;
  top: -13px;
  right: -10px;
}
